﻿<%@ Page Title="" Language="VB" MasterPageFile="~/mspPrincipal.master" AutoEventWireup="false" CodeFile="wfrmCapturaExcel.aspx.vb" Inherits="Captura_wfrmCargaMasiva" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
    <style type="text/css">


        .style2
        {
            height: 21px;
        }
        .style10
        {
            width: 211px;
            height: 44px;
        }
        .style11
        {
            height: 44px;
        }
        .style18
        {
            width: 185px;
            height: 44px;
        }
        .style19
        {
            width: 247px;
            height: 44px;
        }
    </style>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder2" Runat="Server">
    <table style="width:100%;">
    <tr>
        <td colspan="3">
            <asp:Label ID="Label2" runat="server" Font-Bold="True" Font-Size="Large" 
                    Text="Carga de Archivos Excel" ForeColor="#FF9933"></asp:Label>
        </td>
    </tr>
    <tr>
        <td class="style18">
            <asp:Label ID="Label3" runat="server" Text="Archivo de Captura Excel:" 
                Font-Bold="True" ForeColor="#506272"></asp:Label>
        </td>
        <td class="style19">
            <asp:FileUpload ID="FileUpload1" runat="server" Width="297px" />
            <asp:Button ID="btnCargar" runat="server" Text="Aceptar" Width="77px" />
        </td>
        <td class="style11">
            </td>
    </tr>
    <tr>
        <td class="style2" colspan="3">
        </td>
    </tr>
    <tr>
        <td class="style2" colspan="3">
&nbsp;&nbsp;&nbsp;
                </td>
    </tr>
</table>
</asp:Content>

