﻿<%@ Page Title="" Language="VB" MasterPageFile="~/mspPrincipal.master" AutoEventWireup="false" CodeFile="wfrmCapturaRapida.aspx.vb" Inherits="Captura_wfrmCapturaRapida" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
    <style type="text/css">


        .style2
        {
            height: 21px;
        }
    .style7
    {
            width: 60px;
        }
    .style9
    {
            width: 45px;
        }
    .style10
    {
        width: 81px;
    }
        .style14
        {
            width: 216px;
        }
        .style15
        {
            width: 75px;
        }
        .style17
        {
            width: 189px;
        }
        .style18
        {
            height: 21px;
        }
        .style24
        {
            width: 45px;
            height: 26px;
        }
        .style25
        {
            width: 216px;
            height: 26px;
        }
        .style26
        {
            width: 75px;
            height: 26px;
        }
        .style27
        {
            width: 60px;
            height: 26px;
        }
        .style28
        {
            width: 189px;
            height: 26px;
        }
        .style29
        {
            height: 26px;
            width: 36px;
        }
        .style30
        {
            width: 45px;
            height: 14px;
        }
        .style31
        {
            width: 216px;
            height: 14px;
        }
        .style32
        {
            width: 75px;
            height: 14px;
        }
        .style33
        {
            width: 60px;
            height: 14px;
        }
        .style34
        {
            width: 189px;
            height: 14px;
        }
        .style35
        {
            height: 14px;
            width: 36px;
        }
        .style36
        {
            width: 45px;
            height: 15px;
        }
        .style37
        {
            width: 216px;
            height: 15px;
        }
        .style38
        {
            width: 75px;
            height: 15px;
        }
        .style39
        {
            width: 60px;
            height: 15px;
        }
        .style40
        {
            width: 189px;
            height: 15px;
        }
        .style41
        {
            height: 15px;
            width: 36px;
        }
        .style42
        {
            width: 36px;
        }
        .style43
        {
            height: 69px;
        }
        .style44
        {
            width: 45px;
            height: 9px;
        }
        .style45
        {
            width: 216px;
            height: 9px;
        }
        .style46
        {
            width: 75px;
            height: 9px;
        }
        .style47
        {
            width: 60px;
            height: 9px;
        }
        .style48
        {
            width: 189px;
            height: 9px;
        }
        .style49
        {
            height: 9px;
            width: 36px;
        }
        .style52
        {
            height: 22px;
        }
        .style53
        {
            width: 45px;
            height: 6px;
        }
        .style54
        {
            width: 216px;
            height: 6px;
        }
        .style55
        {
            width: 75px;
            height: 6px;
        }
        .style56
        {
            width: 60px;
            height: 6px;
        }
        .style57
        {
            width: 189px;
            height: 6px;
        }
        .style58
        {
            height: 6px;
            width: 36px;
        }
        .style60
        {
            height: 26px;
        }
        .style61
        {
            height: 14px;
        }
        .style62
        {
            height: 15px;
        }
        .style63
        {
            height: 9px;
        }
        .style64
        {
            height: 6px;
        }
        .style65
        {
            width: 121px;
            height: 11px;
        }
        .style66
        {
            width: 330px;
            height: 11px;
        }
        .style67
        {
            width: 470px;
            height: 11px;
        }
        .style68
        {
            width: 60px;
            height: 11px;
        }
        .style69
        {
            width: 186px;
            height: 11px;
        }
        .style71
        {
            width: 36px;
            height: 11px;
        }
        .style72
        {
            height: 11px;
        }
        .style73
        {
            width: 121px;
        }
        .style74
        {
            width: 330px;
        }
        .style75
        {
            width: 470px;
        }
    </style>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder2" Runat="Server">
    <table style="width:100%;">
    <tr>
        <td align="center" class="style43" 
            style="background-image: url('../Imagenes/Fondo_Subtitulo.png')">
            <asp:Label ID="Label2" runat="server" Font-Bold="True" Font-Size="Large" 
                    Text="Captura Rapida" ForeColor="#FF9933"></asp:Label>
        </td>
    </tr>
    <tr>
        <td class="style2">
            <table>
                <tr>
                    <td class="style65">
                        </td>
                    <td class="style66">
                        </td>
                    <td class="style67">
                        </td>
                    <td class="style68">
                        </td>
                    <td class="style69">
                        </td>
                    <td class="style72">
                        </td>
                    <td class="style71">
                        </td>
                </tr>
                <tr>
                    <td class="style73">
                        <asp:Label ID="Label3" runat="server" Text="Sección:" Font-Bold="True" 
                            ForeColor="#666666"></asp:Label>
                    </td>
                    <td class="style74">
                        <asp:TextBox ID="TextBox2" runat="server" style="margin-left: 0px" Width="47px"></asp:TextBox>
                    </td>
                    <td class="style75">
                        </td>
                    <td class="style7">
                        </td>
                    <td class="style16">
                        </td>
                    <td>
                        </td>
                    <td class="style42">
                        </td>
                </tr>
                <tr>
                    <td class="style73">
                        <asp:Label ID="Label4" runat="server" Text="Consecutivo:" Font-Bold="True" 
                            ForeColor="#666666"></asp:Label>
                    </td>
                    <td class="style74">
                        <asp:TextBox ID="TextBox3" runat="server" style="margin-left: 0px" Width="47px"></asp:TextBox>
                    </td>
                    <td class="style75">
                        </td>
                    <td class="style7">
                        </td>
                    <td class="style16">
                        </td>
                    <td>
                        </td>
                    <td class="style42">
                        </td>
                </tr>
                <tr>
                    <td class="style73">
                        <asp:Label ID="Label5" runat="server" Text="Intención:" Font-Bold="True" 
                            ForeColor="#666666"></asp:Label>
                    </td>
                    <td class="style74">
                        <asp:TextBox ID="TextBox4" runat="server" style="margin-left: 0px" Width="47px"></asp:TextBox>
                    </td>
                    <td class="style75">
                        </td>
                    <td class="style7">
                        </td>
                    <td class="style16">
                        </td>
                    <td>
                        </td>
                    <td class="style42">
                        </td>
                </tr>
                <tr>
                    <td class="style18" bgcolor="#ECF2F8" colspan="6">
                        </td>
                    <td class="style18" bgcolor="#ECF2F8">
                        &nbsp;</td>
                </tr>
                <tr>
                    <td class="style24">
                        <asp:Label ID="Label6" runat="server" Text="Nombre:" Font-Bold="True" 
                            ForeColor="#666666"></asp:Label>
                    </td>
                    <td class="style25">
                        <asp:TextBox ID="TextBox5" runat="server" style="margin-left: 0px" 
                            Width="142px"></asp:TextBox>
                    </td>
                    <td class="style26">
                        <asp:Label ID="Label7" runat="server" Text="A.Paterno:" Font-Bold="True" 
                            ForeColor="#666666"></asp:Label>
                    </td>
                    <td class="style27">
                        <asp:TextBox ID="TextBox6" runat="server" style="margin-left: 0px" 
                            Width="142px"></asp:TextBox>
                    </td>
                    <td class="style28">
                        <asp:Label ID="Label8" runat="server" Text="A.Paterno:" Font-Bold="True" 
                            ForeColor="#666666"></asp:Label>
                    </td>
                    <td class="style60">
                        <asp:TextBox ID="TextBox7" runat="server" style="margin-left: 0px" 
                            Width="142px"></asp:TextBox>
                    </td>
                    <td class="style29">
                        &nbsp;</td>
                </tr>
                <tr>
                    <td class="style30">
                        <asp:Label ID="Label9" runat="server" Text="Calle:" Font-Bold="True" 
                            ForeColor="#666666"></asp:Label>
                    </td>
                    <td class="style31">
                        <asp:TextBox ID="TextBox8" runat="server" style="margin-left: 0px" 
                            Width="142px"></asp:TextBox>
                    </td>
                    <td class="style32">
                        <asp:Label ID="Label10" runat="server" Text="Número:" Font-Bold="True" 
                            ForeColor="#666666"></asp:Label>
                    </td>
                    <td class="style33">
                        <asp:TextBox ID="TextBox14" runat="server" style="margin-left: 0px" 
                            Width="142px"></asp:TextBox>
                    </td>
                    <td class="style34">
                        <asp:Label ID="Label11" runat="server" Text="Intención:" Font-Bold="True" 
                            ForeColor="#666666"></asp:Label>
                    </td>
                    <td class="style61">
                        <asp:TextBox ID="TextBox10" runat="server" style="margin-left: 0px" 
                            Width="142px"></asp:TextBox>
                    </td>
                    <td class="style35">
                        &nbsp;</td>
                </tr>
                <tr>
                    <td class="style36">
                        <asp:Label ID="Label12" runat="server" Text="Colonia:" Font-Bold="True" 
                            ForeColor="#666666"></asp:Label>
                    </td>
                    <td class="style37">
                        <asp:TextBox ID="TextBox11" runat="server" style="margin-left: 0px" 
                            Width="142px"></asp:TextBox>
                    </td>
                    <td class="style38">
                        <asp:Label ID="Label13" runat="server" Text="Teléfono:" Font-Bold="True" 
                            ForeColor="#666666"></asp:Label>
                    </td>
                    <td class="style39">
                        <asp:TextBox ID="TextBox12" runat="server" style="margin-left: 0px" 
                            Width="142px"></asp:TextBox>
                    </td>
                    <td class="style40">
                        <asp:Label ID="Label14" runat="server" Text="Localidad" Font-Bold="True" 
                            ForeColor="#666666"></asp:Label>
                    </td>
                    <td class="style62">
                        <asp:TextBox ID="TextBox13" runat="server" style="margin-left: 0px" 
                            Width="142px"></asp:TextBox>
                    </td>
                    <td class="style41">
                        &nbsp;</td>
                </tr>
                <tr>
                    <td class="style30">
                        <asp:Label ID="Label15" runat="server" Text="Ciudad:" Font-Bold="True" 
                            ForeColor="#666666"></asp:Label>
                    </td>
                    <td class="style31">
                        <asp:TextBox ID="TextBox15" runat="server" style="margin-left: 0px" 
                            Width="142px"></asp:TextBox>
                    </td>
                    <td class="style32">
                        <asp:Label ID="Label16" runat="server" Text="C.P." Font-Bold="True" 
                            ForeColor="#666666"></asp:Label>
                    </td>
                    <td class="style33">
                        <asp:TextBox ID="TextBox16" runat="server" style="margin-left: 0px" 
                            Width="142px"></asp:TextBox>
                    </td>
                    <td class="style34">
                        <asp:Label ID="Label17" runat="server" Text="DF:" Font-Bold="True" 
                            ForeColor="#666666"></asp:Label>
                    </td>
                    <td class="style61">
                        <asp:TextBox ID="TextBox17" runat="server" style="margin-left: 0px" 
                            Width="142px"></asp:TextBox>
                    </td>
                    <td class="style35">
                        &nbsp;</td>
                </tr>
                <tr>
                    <td class="style44">
                        <asp:Label ID="Label18" runat="server" Text="DL:" Font-Bold="True" 
                            ForeColor="#666666"></asp:Label>
                    </td>
                    <td class="style45">
                        <asp:TextBox ID="TextBox18" runat="server" style="margin-left: 0px" 
                            Width="142px"></asp:TextBox>
                    </td>
                    <td class="style46">
                        <asp:Label ID="Label19" runat="server" Text="Sección:" Font-Bold="True" 
                            ForeColor="#666666"></asp:Label>
                    </td>
                    <td class="style47">
                        <asp:TextBox ID="TextBox19" runat="server" style="margin-left: 0px" 
                            Width="142px"></asp:TextBox>
                    </td>
                    <td class="style48">
                        <asp:Label ID="Label20" runat="server" Text="Manzana:" Font-Bold="True" 
                            ForeColor="#666666"></asp:Label>
                    </td>
                    <td class="style63">
                        <asp:TextBox ID="TextBox20" runat="server" style="margin-left: 0px" 
                            Width="142px"></asp:TextBox>
                    </td>
                    <td class="style49">
                        &nbsp;</td>
                </tr>
                <tr>
                    <td class="style53">
                    </td>
                    <td class="style54">
                    </td>
                    <td class="style55">
                    </td>
                    <td class="style56">
                    </td>
                    <td class="style57">
                    </td>
                    <td class="style64">
                    </td>
                    <td class="style58">
                        &nbsp;</td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td class="style52">
            &nbsp;</td>
    </tr>
</table>
</asp:Content>

