﻿<%@ Page Title="" Language="VB" MasterPageFile="~/mspPrincipal.master" AutoEventWireup="false" CodeFile="wfrmCambioClave.aspx.vb" Inherits="Seguridad_wfrmCambioClave" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
    <style type="text/css">

    .style3
    {
        width: 112px;
    }

        .style2
        {
            height: 21px;
        }
        .style9
        {
            width: 131px;
            height: 18px;
        }
        .style10
        {
            height: 18px;
        }
        .style11
        {
            width: 131px;
            height: 45px;
        }
        .style12
        {
            width: 131px;
            height: 25px;
        }
        .style13
        {
            height: 25px;
        }
        .style14
        {
            height: 45px;
        }
    </style>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder2" Runat="Server">
    <table style="width:100%;">
    <tr>
        <td colspan="3">
            <asp:Label ID="Label2" runat="server" Font-Bold="True" Font-Size="Large" 
                    Text="Cambio de Clave" ForeColor="#FF9933"></asp:Label>
        </td>
    </tr>
    <tr>
        <td class="style9">
            <asp:Label ID="Label3" runat="server" Text="Nueva Clave:" Font-Bold="True" 
                ForeColor="#506272"></asp:Label>
        </td>
        <td class="style10">
            <asp:TextBox ID="TextBox2" runat="server" style="margin-left: 0px"></asp:TextBox>
        </td>
        <td class="style10">
            </td>
    </tr>
    <tr>
        <td class="style12">
            <asp:Label ID="Label4" runat="server" Text="Confirmar Clave:" Font-Bold="True" 
                ForeColor="#506272"></asp:Label>
        </td>
        <td class="style13">
            <asp:TextBox ID="TextBox3" runat="server" style="margin-left: 0px"></asp:TextBox>
        </td>
        <td class="style13">
            </td>
    </tr>
    <tr>
        <td class="style11">
            </td>
        <td class="style14">
            <asp:Button ID="btnCargar" runat="server" Text="Aceptar" Width="77px" />
&nbsp;
                <asp:Button ID="btnCancelar" runat="server" Text="Cancelar" />
        </td>
        <td class="style14">
            </td>
    </tr>
    <tr>
        <td class="style2" colspan="3">
        </td>
    </tr>
    <tr>
        <td class="style2" colspan="3">
&nbsp;&nbsp;&nbsp;
                </td>
    </tr>
</table>
</asp:Content>

